.ask {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pessoa-forum-group {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  padding-left: 25px;
  position: relative;
  color: #333;
  width: 80%;
}

.pessoa-forum-info {
  display: flex;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pessoa-forum-info h3 {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pessoa-forum-info span {
  font-weight: 300;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.situation-ask {
  display: flex;
  justify-content: flex-end;
  padding: 2px 10px;
  margin-right: 20px;
  color: #fff;
  border-radius: 5px;
}

.pendding {
  background-color: rgb(199, 199, 23);
}

.answered {
  background-color: rgb(10, 196, 10);
}
