@import url('global.css');

.header{
    width: 100%;
    height: 50px;
    background-color: #ccc;
}

.side-bar{
    width: 250px;
    height: calc(100vh - 50px);
    background-color: gray;
    box-shadow: 1px 0px 20px 0px  rgba(0, 0, 0, 0.15);
}

.img-perfil{
    margin-top: 50px;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 100%;
}

.name-perfil{
    color: white;
}

.data{
    margin-top: 30px;
}

.data-items{
    width:100%;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item i{
    width: 30px;
}
.item a{
    text-align: start;
    min-width: 52px;
}

.fas{
    margin-right: .5rem;
    color: white;
}

.hide{
    display: none;
}

.card{
    width: 15rem;
    height: 20rem;
    background-color: aquamarine;
}