.ask {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ask:hover {
  background: #f1f1f1;
}

.pessoa-forum-group {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  padding-left: 25px;
  position: relative;
  color: #333;
  width: 100%;
}

.pessoa-forum-info {
  display: flex;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pessoa-forum-info h3 {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pessoa-forum-info span {
  font-weight: 300;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 30px;
}

.situation-ask {
  display: flex;
  justify-content: flex-end;
  padding: 2px 10px;
  margin-right: 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 25px;
}

.pendding {
  color: rgb(199, 199, 23);
}

.answered {
  color: rgb(10, 196, 10);
}

.mt-and-mb-10px {
  margin: 15px;
  margin-top: 10px;
}

.mt-and-mb-5px {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 15px 30px 1px rgb(0 0 0 / 25%);
  border: 1px solid #b5b5b5;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #606060 !important;
}

.modal-header h3{
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

.icon-close {
  transition: 0.3s;
  cursor: pointer;
  font-size: 18px;
}

.icon-close:hover {
  color: rgb(230, 15, 15);
}

.ml-15px {
  margin-left: 20px;
}

.form-filtro {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.modal-main {
  display: flex;
  padding: 30px;
}

.modal-main > .chk {
  align-items: flex-start;
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  background-color: #f5f6f7;
  border-top: 1px solid #ccc;
}

.btn-filter {
  padding: 8px 20px;
  width: 90%;
  border-radius: 8px;
}

.pessoa-forum-pic {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.box-header {
  padding: 1rem;
}

.box-flex {
  display: flex;
}

.box-ask {
  position: relative;
}

.btn-answer {
  margin-top: 10px;
}

.txt-answer {
  resize: vertical;
  max-height: 220px;
  min-height: 148px;
  margin: 10px 0;
}