@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--bg-body);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-color-active);
}

.section {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

code {
  background-color: #464646;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

/*Componentes*/
/* .txt-input,
input,
input[type="text"],
input[type="password"] {
  border: 1px solid var(--outline-color);
  border-radius: 5px;
  padding: 10px 8px;
  outline: 0;
  transition: 0.2s linear;
} */

/* .txt-input:focus,
input:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 0.2rem rgba(45, 143, 65, 0.308);
} */

