@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-body: #fff;
  --accent-color: #2d9041;
  --accent-color-active: #1d5c2a;
  --accent-color-opacity: #4abe622e;
  --outline-color: #ced4da;
  --info-msg-bg: #e6e6e69a;
  --info-msg-color: #363636;
  --info-msg-icon: #72727294;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--bg-body);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-color-active);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  padding: 10px 0;
}

.section {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

code {
  background-color: #464646;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

/*Componentes*/
.txt-input,
input,
input[type="text"],
input[type="password"] {
  border: 1px solid var(--outline-color);
  border-radius: 5px;
  padding: 8px;
  outline: 0;
  transition: 0.2s linear;
}

.txt-input:focus,
input:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 0.2rem rgba(45, 143, 65, 0.308);
}

input[type="checkbox"] {
  appearance: none;
  border: 2px solid #cccc;
  border-radius: 5px;
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  transition: 0.1s linear 0.2s;
  position: relative;
}

input[type="checkbox"]::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  line-height: 16px !important;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #fff;
  font-size: 10px;
  clip-path: circle(0px at 2px 50%);
  transition: clip-path 0.5s ease;
}

input[type="checkbox"]:checked {
  background: var(--accent-color);
  transition: 0.1s linear;
  border-color: var(--accent-color);
}

input[type="checkbox"]:checked::after {
  clip-path: circle(100% at 2px 50%);
  transition: clip-path 0.5s ease;
}
input[type="checkbox"]:focus-visible{
  box-shadow: 0 0 0 0.2rem rgba(45, 143, 65, 0.308);
  transition: none;
}
.chk {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #070707;
}

.chk label {
  font-size: 13px;
  margin-left: 8px;
  user-select: none;
  cursor: pointer;
}
.lbl {
  display: flex;
  flex-direction: column;
}

.lbl label {
  font-size: 10pt;
  font-weight: 400;
  color: #070707;
  padding: 3px 0;
}

.lbl-icon {
  display: flex;
  flex-direction: row;
}

.lbl-icon label {
  width: 40px;
  text-align: center;
}

.lbl-icon label:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #070707;
  background: #e4e4e4;
  border: 1px solid var(--outline-color);
  border-right: none;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
}

.lbl-icon input {
  border-radius: 0 5px 5px 0;
  width: calc(100% - 18px);
  outline-color: var(--accent-color);
}

.info-message {
  display: flex;
  align-items: center;
  background: var(--info-msg-bg);
  padding: 10px;
  font-size: 13px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  color: var(--info-msg-color);
  text-align: justify;
}

.info-message::before {
  content: "\f05a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;

  padding-right: 10px;
  padding-top: 3px;
  color: var(--info-msg-icon);
  height: 100%;
  font-size: 30px;
}
.info-message.error-msg{
  display: none;
}
.info-message.error-msg.show{
  display: flex;
}

.botao-ham {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 15px 12px;
  height: 50px;
  z-index: 1;
}

.botao-ham span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background-color: #333;
  border-radius: 10px;
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease, margin 0.3s ease;
}

.botao-ham:first-child {
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
}

.botao-ham span:nth-last-child(1) {
  margin-bottom: 0;
}

.botao-ham.active span {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  margin: 0;
}

.botao-ham.active span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.botao-ham.active span:nth-last-child(3) {
  opacity: 1;
  transform: rotate(45deg) translate(0, 0);
  -webkit-transform: rotate(45deg) translate(2px, 2px);
}
@media (max-width: 766px) {
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  input[type="checkbox"]::before {
    line-height: 20px !important;
    font-size: 12px;
  }
}
