/* @import url("global.css"); */


.prevent-transition-flick {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body.remove-transbar .side-bar,
body.remove-transbar .side-bar *,
body.remove-transbar .menu-container,
body.remove-transbar .three-bars-btn * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.hide {
  display: none;
}

/* Tree menu links  */
.tree-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
  padding: 5px 12px;
  position: relative;
}

.tree-links ul {
  list-style: none;
  display: flex;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.tree-links ul li {
  display: flex;
  align-items: center;
}

.tree-links a {
  font-size: 14px;
}

.tree-links ul li::before {
  content: ">";
  padding: 0 5px;
  text-decoration: none;
}




footer {
  height: 400px;
  margin-top: 50px;
  background: var(--navs-bg);
}

/* Página para detalhar vaga */


/* .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--secondary-bg);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  margin-top: 20px;
}

.box:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-title {
  width: 100%;
  padding: 15px 30px;
  background: var(--primary-bg);
  border-bottom: 1px solid var(--outline-color);
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-title.check {
  padding: 15px;
}

.box-title.sticky {
  position: sticky;
  top: 90px;
  z-index: 3;
}

.box-title h3 {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-c);
}

.box-title h3 i {
  margin-right: 5px;
  font-size: 15px;
}

.box-content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 15px;
  text-align: justify;
}

.box-content.no-title {
  padding: 30px;
} */


.vaga-page-description {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

.vaga-page-description ul,
ol {
  margin-block-start: 15px;
  margin-block-end: 15px;
  padding-left: 18px;
}

.vaga-page-description ul li,
ol li {
  margin-left: 16px;
}

.vaga-page-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.vaga-page-actions > * {
  width: 100%;
}

.lista-candidatos .candidato {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 5px;
}

.candidato-group {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  padding-left: 50px;
  position: relative;
  color: #333;
  width: 100%;
  user-select: none;
}

.candidato-group * {
  pointer-events: none;
}

#candidato-checkall {
  margin-right: 10px;
}

.candidato-list-check {
  display: flex !important;
  position: absolute !important;
  z-index: 2 !important;
  left: 15px !important;
  top: 35% !important;
}

.candidato-list-check:checked ~ .candidato-group {
  background: #f4fff6;
  color: var(--accent-color);
}

.candidato-group:hover {
  background: #f1f1f1 !important;
}

.candidato-pic {
  height: 50px;
  width: 50px;
}

.candidato-info {
  display: flex;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.candidato-info h3 {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.candidato-info span {
  font-weight: 300;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lista-candidatos-actions {
  padding: 10px;
  border-top: 1px solid rgb(241, 241, 241);
  display: flex;
  justify-content: end;
}

.lista-candidatos-actions > * {
  margin-right: 5px;
}
.lista-candidatos-actions .btn-down-curriculo {
  background: var(--accent-color);
  color: #fff;
}


.contacts {
  display: flex;
  flex-direction: column;
}

.contacts > * {
  list-style: none;
}

.essential-info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.essential-info li:nth-child(n + 2) {
  margin-top: 10px;
}

.essential-info li a {
  display: flex;
  align-items: center;
  width: 100%;
}

.essential-info li a span {
  display: flex;
  width: calc(100% - 25px);
  overflow-wrap: anywhere;
}

.essential-info li a i {
  width: 25px;
}

.social-info {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.social-info li {
  display: flex;
}

.social-info li a {
  padding: 10px;
  border-radius: 30px;
  color: var(--accent-color);
}

.social-info li a:hover {
  background: #f1f1f1;
}

.social-info li a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 30px;
  width: 30px;
}

@media (min-width: 766px) {

  .tree-links {
    padding: 5px 32px;
  }

  .flex-colums-2 {
    flex-flow: row nowrap;
  }

  .box.vaga-page-actions {
    max-width: 300px;
    margin-left: 30px;
  }

  .vaga-page-header {
    padding: 20px 32px;
    padding-bottom: 0;
  }

  .box-title.sticky {
    top: 134px;
  }

  .candidato-info h3 {
    font-size: 18px;
  }

  .candidato-info span {
    font-size: 14px;
  }

  .profile-names {
    font-size: 14px;
  }

  .profile-names h2 {
    font-size: 25px;
  }

  .profile-page-header {
    flex-wrap: nowrap;
    padding: 30px;
  }

  .user-actions {
    width: initial;
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
