
.prevent-transition-flick {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body.remove-transbar .side-bar,
body.remove-transbar .side-bar *,
body.remove-transbar .menu-container,
body.remove-transbar .three-bars-btn * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.hide {
  display: none;
}

/* Tree menu links  */

.tree-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
  padding: 5px 12px;
  position: relative;
}

.tree-links ul {
  list-style: none;
  display: flex;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.tree-links ul li {
  display: flex;
  align-items: center;
}

.tree-links a {
  font-size: 14px;
}

.tree-links ul li::before {
  content: ">";
  padding: 0 5px;
  text-decoration: none;
}

footer {
  height: 400px;
  margin-top: 50px;
  background: var(--navs-bg);
}

.lista-candidatos .candidato {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 5px;
}

.lista-candidatos .candidato button{
  display: flex ;
  width: 100%;
  background: transparent;
  border: none;
}

.candidato-group {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  padding-left: 50px;
  position: relative;
  color: var(--text-b);
  width: 100%;
  user-select: none;
}

.candidato-group * {
  pointer-events: none;
}

#candidato-checkall {
  margin-right: 10px;
}

.candidato-list-check {
  display: flex !important;
  position: absolute !important;
  z-index: 2 !important;
  left: 15px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.candidato-list-check:checked ~ .candidato-group {
  background: #00ff2e12;
  color: var(--accent-color);
}

.candidato-group:hover {
  background: var(--secondary-bg);
}

.candidato-pic {
  height: 50px;
  width: 50px;
}

.candidato-info {  
  display: flex;
  text-align: left;
  flex-direction: column;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.candidato-info h3 {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.candidato-info span {
  font-weight: 300;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lista-candidatos-actions {
  padding: 10px;
  display: flex;
  justify-content: end;
}

.lista-candidatos-actions > * {
  margin-right: 5px;
}
.lista-candidatos-actions .btn-down-curriculo {
  background: var(--accent-color);
  color: #fff;
}



@media (min-width: 766px) {
  .tree-links {
    padding: 5px 32px;
  }

  .flex-colums-2 {
    flex-flow: row nowrap;
  }

  .candidato-info h3 {
    font-size: 18px;
  }

  .candidato-info span {
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
