.grid-container {
  display: grid;
  grid-template-areas: "menu main";
  position: relative;
  width: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
}
body{
  background: #fff;
}
/* Main content */
.main {
  grid-area: main;
  /* display: flex;
  flex-direction: column;
  min-height: 0; */
  position: relative;
  /* height: 100%;
  overflow: hidden; */
  background: var(--bg-body);
  /* border-top: 1px solid;
  border-left: 1px solid;
  border-color: rgb(228, 228, 228); */
}
.main::before{
  content: "";
  position: fixed;
  top: var(--top-bar-height);
  height: 100%;
  width: 100%;
  border-top: 1px solid;
  border-left: none;
  border-color: rgb(228, 228, 228);
  box-shadow: -3px -3px 0 0 #fff;
  z-index: 14;
  pointer-events: none;
}

body.toggle-sidemenu .main {
  pointer-events: none;
}

body.toggle-sidemenu {
  overflow-y: hidden;
}
/* 
.main-container {
  width: 100%;
  height: 100%;
} */

.main-container main {
  min-height: 100vh;
}

.content-grid {
  display: grid;
  grid-template-areas: "content filter";
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  margin-top: 30px;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  max-width: 1280px;
  margin: 0 auto;
}

.spacer {
  height: 30px;
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 11;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
}

.filters {
  grid-area: filter;
  width: 250px;
}

@media (min-width: 766px) {
  body::-webkit-scrollbar {
    width: 16px;
  }
/* 
  body::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #f5f5f5;
  } */

  body::-webkit-scrollbar-thumb {
    background-color: #a3a3a3d5;
    border-radius: 20px;
    background-clip: content-box;
    border: 5px solid transparent;
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
    border-width: 5px 4px;
  }

  body.toggle-sidemenu .menu-container {
    width: 100%;
    padding: 0 22px;
  }


  .main {
    min-width: initial;
    border-top-left-radius: 10px;
  }
  .main::before{
    border-left: 1px solid;
    border-color: rgb(228, 228, 228);
    border-top-left-radius: 10px;
  }

  body.toggle-sidemenu .main {
    pointer-events: all;
  }

  body.toggle-sidemenu{
    overflow-y: initial;
  }

  .content {
    padding: 0 30px;
  }
}

@media (min-width: 1000px) {
  .cards-container {
      grid-template-columns: 1fr 1fr;
  }
}