@import url("logado.css");
.content{
  margin-top: 10px;
}

.form-create-vaga{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  border-radius: 5px;  
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  border: 1px solid #ececec;
}
.form-create-vaga .form-title{
  width: 100%;
  padding: 15px 30px;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.form-create-vaga .form-title h3{
  color: var(--accent-color);
  font-weight: 500;
}
.form-create-vaga .form-items{
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 10px;
}
.form-create-vaga .form-items > * {
  margin-bottom: 10px;
}
.counter-box{
  font-size: 14px;
  padding: 5px;
  color: #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fff;
}
.counter-box span{
  color: var(--accent-color);
  font-weight: 600;
}
#count.limit-exceeded{
  color: #ac0000;
}

#descriptionVaga {
  height: 300px;
}
#submit-container{
  display: flex;
  justify-content: flex-end;
}
#submit-form{
  width: 125px;
}
.lbl label{
  color: #444;
  font-weight: 500;
}

@media(max-width:766px){
  .form-create-vaga .form-title{
    padding: 15px ;
  }
  .form-create-vaga .form-items{
    padding: 15px;
  } 

}
