

/* .data-items li a:hover i {
    color: rgb(95, 95, 95);
} */



body.remove-transbar .side-bar, 
body.remove-transbar .side-bar *, 
body.remove-transbar .menu-container , 
body.remove-transbar .three-bars-btn *{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

